[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotr-signal-api = {editable = true, path = "."}
plotr-modules = {file = "https://github.com/plotr-ai/plotr-modules/archive/main.zip"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
